.app-header {
  background-color: #dadada; /* Darker shade for professionalism */
  color: black;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  font-family: Monaco, monospace; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 28px; 
  font-weight: bold;
  text-align: left; 
}

.nav-buttons {
  display: flex;
  gap: 20px; 
}

.nav-button {
  color: white;
  text-decoration: none;
  background-color: transparent; 
  border: 1px solid transparent; 
  padding: 8px 16px;
  border-radius: 4px; 
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, border-color 0.3s; 
}

.nav-button:hover {
  background-color: #2980b9; 
  border-color: #2980b9; 
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-icons .icon {
  position: relative;
  cursor: pointer;
}

.header-icons .icon .hover-text {
  visibility: hidden;
  opacity: 0;
  background-color: #2c3e50; 
  color: #fff;
  text-align: center;
  font-size: small;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.header-icons .icon:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.header-icons .icon:hover .hover-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2c3e50 transparent;
}

.search-bar {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%); 
  width: 50%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px; 
  z-index: 1001; 
}

.vulnerability-search {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 14px; 
  background-color: #f9f9f9;
  color: #333;
  font-family: inherit;
}

.vulnerability-search:focus {
  border-color: #2980b9; 
  outline: none;
  background-color: #fff;
}

::placeholder {
  color: #aaa; 
}

.search-results {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.search-result-item a {
  text-decoration: none;
  color: #333;
}

.search-result-item a:hover {
  text-decoration: underline;
}
