.app-header {
  background-color: #dadada;
  color: black;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: Monaco, monospace;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  position: relative;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.search-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* background-color: #2980b9;  */
  color: rgb(0, 0, 0);
  padding: 8px 12px; 
  border-radius: 4px; 
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 8px;
}

.search-icon:hover {
  background-color: #1f6a9b; 
}

.search-icon i {
  font-size: 16px;
}

/* .clear-icon {
  position: absolute;
  right: 40px; 
  cursor: pointer;
  color: #ccc;
  font-size: 14px;
}

.clear-icon:hover {
  color: #ff0000; 
}
 */

.vulnerability-search {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  font-family: inherit;
  margin-right: 10px;
}

.vulnerability-search:focus {
  border-color: #2980b9;
  outline: none;
  background-color: #fff;
}

::placeholder {
  color: #aaa;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-icons .icon {
  position: relative;
  cursor: pointer;
}

.header-icons .icon .hover-text {
  visibility: hidden;
  opacity: 0;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  font-size: small;
  border-radius: 4px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.3s;
}

.header-icons .icon:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.header-icons .icon:hover .hover-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #2c3e50 transparent;
}

.search-results {
  position: absolute;
  top: 100%; /* Position right below the search bar */
  left: 0;
  width: 100%; /* Match the width of the search bar */
  background-color: #fff;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1001; /* Ensure it stays above other elements */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Add a shadow for better visibility */
}

.search-result-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer; /* Make it clear the items are clickable */
}

.search-result-item a {
  text-decoration: none;
  color: #333;
  display: block; /* Make the entire item clickable */
}

.search-result-item a:hover {
  text-decoration: underline;
  background-color: #f5f5f5; /* Add a hover effect */
}
