.app-header {
  background-color: #333;
  color: white;
  padding: 10px;
  position: relative;
  font-family: Monaco, monospace; 
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;

  /* background-color: #1f1f1f;
  padding: 5px 10px;
  color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.logo {
  margin: 0;
  font-size: 24px;
}

.nav-buttons {
  display: flex;
  /* justify-content: space-around; */
  margin: auto;
  gap: 10px;
}

.nav-button {
  color: white;
  text-decoration: none;
  background-color: #333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-family: inherit; 
  font-size: 16px; 
}

.nav-button:hover {
  background-color: orange;
}

.header-icons {
  flex: 1;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
}

.header-icons .icon {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
}

.header-icons .user-icon .hover-text,
.header-icons .db-icon .hover-text,
.header-icons .git-icon .hover-text {
  visibility: hidden;
  opacity: 0;
  width: 110px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 0;
  position: absolute;
  z-index: 1;
  top: 125%;
  left: 50%;
  margin-left: -50px;
  transition: opacity 0.3s;
}

.header-icons .user-icon .hover-text::after,
.header-icons .db-icon .hover-text::after,
.header-icons .git-icon .hover-text::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.header-icons .user-icon:hover .hover-text,
.header-icons .db-icon:hover .hover-text,
.header-icons .git-icon:hover .hover-text {
  visibility: visible;
  opacity: 1;
}

.search-bar {
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.vulnerability-search {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  padding: 8px; 
  font-size: 12px; 
  background-color: #f9f9f9; 
  color: #333; 
  font-family: inherit; 
}

.vulnerability-search:focus {
  border-color: orange; 
  outline: none; 
  background-color: #fff;
}

::placeholder {
  color: #aaa; /* Style placeholder text */
}
