.vulnerability-list {
  padding: 80px;
  background-color: white;
  color: black;
}

.vulnerability-list h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.vulnerability-list table {
  width: 100%;
  border-collapse: collapse;
}

.vulnerability-list th,
.vulnerability-list td {
  border: 1px solid #ddd;
  padding: 8px;
}

.vulnerability-list th {
  background-color: #4CAF50;
  color: white;
}

.vulnerability-list tr:nth-child(even) {
  background-color: #f2f2f2;
}

.vulnerability-list tr:hover {
  background-color: #ddd;
}

.vulnerability-list a {
  text-decoration: none;
  color: #007bff;
}

.vulnerability-list a:hover {
  text-decoration: underline;
}

.filters {
  margin-bottom: 20px;
}

.filters label {
  margin-right: 20px;
}

.filters select {
  padding: 5px;
  margin-left: 10px;
}

.clear-filters-button {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  font-size: 1em;
  padding: 10px;
}

.clear-filters-button:hover {
  text-decoration: underline;
}

